@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-50: #f7f7f7;
    --primary-100: #bababa;
    --primary-200: #737373;
    --primary-300: #333333;
    --primary-400: #080808;

    --secondary-100: #aad9d1;
    --secondary-200: #048c80;
    --secondary-300: #017373;

    --accent: #efece6;
  }

  body {
    @apply font-dm-sans font-normal text-accent bg-primary-400;
  }
  h1 {
    @apply text-[30px] md:text-[60px] font-bold;
  }
  h2 {
    @apply text-[30px] md:text-[48px] font-bold;
  }
  h3 {
    @apply text-[18px] md:text-[20px] font-bold;
  }
  h4 {
    @apply text-[16px] md:text-[18px] font-bold;
  }
  p {
    @apply text-[14px] md:text-[16px] font-normal;
  }
}
@layer components {
  .button-primary {
    @apply w-max flex px-[24px] py-[12px] gradient-primary text-[16px] text-primary-400 font-bold md:font-normal rounded-[8px] capitalize after:content-[url('/icons/arrow.svg')] after:w-[24px] after:h-[24px] after:ml-[8px];
  }
}
@layer utilities {
  .gradient-primary {
    @apply bg-gradient-to-tr from-secondary-300 to-secondary-100;
  }
}
