@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-50: #f7f7f7;
    --primary-100: #bababa;
    --primary-200: #737373;
    --primary-300: #333333;
    --primary-400: #080808;

    --secondary-100: #aad9d1;
    --secondary-200: #048c80;
    --secondary-300: #017373;

    --accent: #efece6;
  }

  body {
    @apply font-dm-sans font-normal text-accent bg-primary-400;
  }
  h1 {
    @apply text-[30px]/[130%] md:text-[59px]/[106%] font-bold;
  }
  h2 {
    @apply text-[30px]/[130%] md:text-[48px]/[120%] font-bold;
  }
  h3 {
    @apply text-[18px]/[150%] md:text-[20px]/[140%] font-bold;
  }
  h4 {
    @apply text-[16px]/[150%] md:text-[18px]/[150%] font-bold;
  }
  h6 {
    @apply text-[14px]/[150%] md:text-[16px] font-normal;
  }
  p {
    @apply text-[14px]/[150%] md:text-[16px] font-normal;
  }
}
@layer components {
  .button-primary {
    @apply w-max flex justify-center items-center px-[24px] py-[12px] gradient-primary text-[16px] text-primary-400 font-bold md:font-normal rounded-[8px] capitalize after:bg-cover after:bg-[url('/icons/arrow.svg')] after:w-[24px] after:h-[24px] after:ml-[8px];
  }
  .button-accent {
    @apply w-max flex justify-center items-center px-[24px] py-[12px] bg-accent text-[16px] text-primary-400 font-bold md:font-normal rounded-[8px] border border-secondary-200 capitalize after:bg-cover after:bg-[url('/icons/arrow-secondary.svg')] after:w-[24px] after:h-[24px] after:ml-[8px];
  }
  .input-primary {
    @apply block bg-transparent outline-none text-primary-400 placeholder:text-inherit focus:placeholder:text-transparent;
  }
}
@layer utilities {
  .gradient-primary {
    @apply bg-gradient-to-tr from-secondary-300 to-secondary-100;
  }
  .text-gradient {
    @apply text-transparent gradient-primary bg-clip-text;
  }
  .transition-width {
    transition-property: width;
    transition-timing-function: ease;
    transition-duration: 500ms;
  }
}
